@font-face {
    font-family: Monument Extended;
    src: url(./maila_roman/fonts/Monument_Extended/PPMonumentExtended-Bold.otf);
}
@font-face {
    font-family: Monument Extended Regular;
    src: url(./maila_roman/fonts/Monument_Extended/PPMonumentExtended-Regular.otf);
}
@font-face {
    font-family: Mori;
    src: url(./maila_roman/fonts/Mori/PPMori-Regular.otf);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: darkorange 6px solid;
    border-radius: 36px;

}

h1 {
    font-family: "Monument Extended", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 28pt;
    line-height: 44pt;
    letter-spacing: 1px;
    padding-bottom: 16px;

}

.blue {
    color: #1C2070;
}

.white {
    color: #F8F3EB;
}

h2 {
    font-family: "Monument Extended Regular", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20pt;
    line-height: 26pt;
    letter-spacing: 1px;
    padding-bottom: 16px;
    color: black;

}

p {
    font-family: "Mori", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 13pt;
    line-height: 22pt;
    padding-bottom: 16px;
}

a {
    font-family: "Monument Extended Regular", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16pt;
    line-height: 26pt;
    letter-spacing: 1px;
    padding-bottom: 16px;
    color: #1C2070;


}





.header-navi {
    display: flex;
    justify-content: flex-end; /* Menüelemente nach rechts ausrichten */
    align-items: center; /* Elemente vertikal zentrieren */
    position: fixed;
    width: 100%; /* Volle Breite des Elternelements */
    top: 0; /* Am oberen Rand der Seite fixieren */
    right: 0; /* Am rechten Rand der Seite fixieren */
    z-index: 10; /* Sicherstellen, dass es über anderen Elementen bleibt */
}

.burger-menu {
    width: 32px;
    cursor: pointer;
    padding: 24px;
    margin: 24px;
    margin-right: 52px;
    align-self: flex-end; /* Menü nach rechts ausrichten */
}



.bar {
    height: 4px;
    width: 40px;
    background-color: lightblue;
    margin: 10px 0;
    transition: 0.4s;
}


.menu-fullsscreen {
    display: none;
    align-items: left;
    height: 300px;
    width: 100vw;
    padding: 24px;
    margin: 24px;
    background-color: lightblue;
    color: #1C2070;
    text-align: left;
    transition: 0.3s;
    border-radius: 24px;
}

.header-navi:hover .menu-fullsscreen {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    line-height: 0;
    
}

@media (min-width: 780px) {
    .header-navi:hover .menu-fullsscreen {
        flex-direction: row;    
        height: 90px;
        width: 100vw;
        justify-content: space-around;
        padding: 24px;
        padding-top: 40px;
        align-items: center;
        line-height: 0;
}
    
}

.header-navi:hover .burger-menu .bar {
    display: none;
    
}




.header-image {
    width: 100%;
    height: 80vh;
    top: 0;
    object-fit: cover;
    z-index: -1; /* Set a lower z-index */
}

br {
    margin: 24px;
}


.section1 {
    display: flex;
    justify-content: left;
    background-color: #F8F3EB;
    position: inherit;
    flex-direction: column;
    padding: 32px;
    padding-top: 30px;
    padding-bottom: 80px;
} 

@media (min-width: 780px) {
    .section1 {
    padding-left: 140px;   
    padding-right: 140px;
}
}

@media (min-width: 780px) {
    .section1 {
    padding-left: 140px;   
    padding-right: 140px;
}
}

@media (min-width: 900px) {
    .section1 {
    padding-left: 240px;   
    padding-right: 240px;
    display: flex;
    flex-direction: row;
    padding-top: 100px;
}
}

.rounded-rectangle {
    background-color: #F8F3EB;
    border-radius: 36px; /* Dies gibt dem Rechteck abgerundete Ecken */
    width: 300px; /* Sie können die Breite nach Bedarf anpassen */
    height: 110px; /* Sie können die Höhe nach Bedarf anpassen */
    margin-top: 20px; /* Fügt Platz über dem Rechteck hinzu */
    transform: translate(-100px, -100%);
    position: absolute;
}

@media (min-width: 780px) {
    .rounded-rectangle {
     width: 220px;  
     transform: translate(-35px, -100%);
     position: absolute;
}
}

@media (min-width: 900px) {
    .rounded-rectangle {
     width: 220px;  
     transform: translate(-35px, -160%);
     position: absolute;
}
}

.titel-verschoben {
    transform: translate(0,-100%);
    position: absolute;
}

@media (min-width: 900px) {
    .titel-verschoben {
     transform: translate(0,-190%);
     position: absolute;
}
}

.hidden {
    display: none;
}

@media (min-width: 900px) {
    .hidden {
        display: flex;
    }
}

.image-width {
    display: none;
}

@media (min-width: 900px) {
    .image-width  {
        display: flex;
    width: 600px;
    padding: 24px;
    padding-top: 0;
    }
}

.button-read-more {
    background-color: #1C2070;
    color: #F8F3EB;
    border: none;
    padding: 10px 20px;
    height: 48px;
    width: 50%;    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "Mori", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 13pt;
    line-height: 22pt;
    margin: 4px 2px;
    cursor: pointer;
    grid-column: 1 / 3;
    border-radius: 24px;

}

.button-read-more:hover {
    background-color: #F8F3EB;
    color: #1C2070;
    border-color: #1C2070;
    border-style: solid;
    border-width: 2px;
    line-height: 0;

}

@media (min-width: 780px) {
    .button-read-more {
     width: 220px;  
}
}


.section2 {
    display: flex;
    justify-content: left;
    background-color: #1C2070;
    position: inherit;
    flex-direction: column;
    padding: 32px;
    padding-top: 80px;
    padding-bottom: 80px;

} 

@media (min-width: 780px) {
    .section2 {
        padding-left: 140px;   
        padding-right: 140px;
    }
}

@media (min-width: 900px) {
    .section2 {
        padding-left: 240px;   
        padding-right: 240px;
    }
}



.album {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Optional: Fügt Platz zwischen den Bildern hinzu */
    
}

@media (min-width: 900px) {
    .album {
        display: flex;
        flex-direction: row;
    }
}



.album-image {
    width: 100%;
    margin-bottom: 20px; /* Optional: Fügt Platz unter den Bildern hinzu */

}

@media (min-width: 780px) {
    .album-image {
        flex-basis: 45%;
        max-width: 48%; /* Stellt sicher, dass die Bilder nicht größer als die Hälfte des Containers werden */
        margin-right: 10px; /* Optional: Fügt Platz zwischen den Bildern hinzu */
    }
}

@media (min-width: 900px) {
    .album-image {
        flex-basis: 30%;
        max-width: 30%; /* Stellt sicher, dass die Bilder nicht größer als die Hälfte des Containers werden */
        margin-right: 10px; /* Optional: Fügt Platz zwischen den Bildern hinzu */
    }
}

.album-hidden {
    display: flex;

}

@media (min-width: 900px) {
    .album-hidden {
    display: none;

    }
}



.button-streamen {
    background-color: #F8F3EB;
    color: #1C2070;
    border: none;
    padding: 10px 20px;
    height: 48px;
    width: 70%;    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "Mori", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 13pt;
    line-height: 22pt;
    margin: 4px 2px;
    cursor: pointer;
    grid-column: 1 / 3;
    border-radius: 24px;
}

@media (min-width: 780px) {
    .button-streamen {
     width: 220px;  
}
}

.button-streamen:hover {
    background-color:  #1C2070;
    color: #F8F3EB;
    border-color: #F8F3EB;
    border-style: solid;
    border-width: 2px;
    line-height: 0;
}


.section3 {
    display: flex;
    justify-content: left;
    background-color: #F8F3EB;
    position: inherit;
    flex-direction: column;
    padding: 32px;
    padding-top: 80px;
    padding-bottom: 80px;
} 


@media (min-width: 780px) {
    .section3 {
        padding-left: 140px;   
        padding-right: 140px;
    }
}

@media (min-width: 900px) {
    .section3 {
        padding-left: 240px;   
        padding-right: 240px;
    }
}


.tourdates-bundles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Optional: Fügt Platz zwischen den Bildern hinzu */

}


.tourdates {
    width: 100%;    
    margin-bottom: 64px; /* Optional: Fügt Platz unter den Bildern hinzu */
}

@media (min-width: 780px) {
    .tourdates {
        flex-basis: 45%;
        max-width: 48%; /* Stellt sicher, dass die Bilder nicht größer als die Hälfte des Containers werden */
        margin-right: 10px; /* Optional: Fügt Platz zwischen den Bildern hinzu */
    }
}

@media (min-width: 900px) {
    .tourdates {
        flex-basis: 25%;
        max-width: 25%; /* Stellt sicher, dass die Bilder nicht größer als die Hälfte des Containers werden */
        margin-right: 10px; /* Optional: Fügt Platz zwischen den Bildern hinzu */
    }
}

.button-buy-tickets {
    background-color: #1C2070;
    color: #F8F3EB;
    border: none;
    padding: 10px 20px;
    height: 48px;
    width: 220px;    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "Mori", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 13pt;
    line-height: 22pt;
    margin: 4px 2px;
    cursor: pointer;
    grid-column: 1 / 3;
    border-radius: 24px;
}

@media (min-width: 780px) {
    .button-buy-tickets {
     width: 220px;  
}
}

.button-buy-tickets:hover {
    background-color: #F8F3EB;
    color: #1C2070;
    border-color: #1C2070;
    border-style: solid;
    border-width: 2px;
    line-height: 0;

}

.eingerueckt {
    padding-left: 28px;

}
 
@media (min-width: 780px) {
    .eingerueckt {
    padding-left: 0;
}
} 

@media (min-width: 900px) {
    .eingerueckt {
    padding-left: 28px;
}
} 

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1C2070;
    color: #F8F3EB;
    padding: 24px;
    position: inherit;
    flex-direction: column;
    padding-top: 80px;
    padding-bottom: 80px;
}

/*.section1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);  
    grid-column-start: ;  
    background-color: #F8F3EB;
    position: inherit;
    padding: 24px;
} */

